/*
  CSS Light/Dark Mode Project
   Filename: mp_base.css

   This file contains the base styles used by all pages in the website

*/


/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, header, main, nav, section {
	display: block;
}

aside {
	position: relative;
	top: 100px;
}

/* =============================================
	Default colors, margins and sizing
   =============================================
*/

html {
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: 'Barlow Condensed', sans-serif;
	color: #222;
}
body {
	font-family: 'Barlow Condensed', sans-serif;
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}

.font {
	font-family: 'Barlow Condensed', sans-serif;
}

h1 {
	text-decoration: underline;
	
}
/* =============================================
	Hypertext links
   =============================================
*/

a {
	color: #00e;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #06e;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}


/* =============================================
	Default font styles
   =============================================
*/

abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

small {
	font-size: 85%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* =============================================
	Default list styles
   =============================================
*/

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
/* Nav Bar */
nav ul, nav ol {
	margin: auto;
	padding: 0;
	display: flex;
	position: relative;
	top: -300px;
	height: auto;
}



/* =============================================
	Default styles for images and media
   =============================================
*/

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
	height: 250px;
	object-fit: scale-down;
	padding-top: 40px;
	padding-bottom: -10px;
	border-radius: 100%;
}
figure {
	margin: 0;
}

/* =============================================
	Default styles for web forms
   =============================================
*/

form {
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}



/* =============================================
	Default styles for web tables
   =============================================
*/

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th {
	vertical-align: top;
}

/*==============================================
	Catering Slideshow
  ==============================================
*/



/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  position: relative;
  margin: auto;
  bottom: 460px;
  right: 300px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}